<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
</head>
<body>
    <div style="background-color: #b30511; ">
        <br /><br /><br />
    </div>
    {% if role == "teacher" %}
    <h1 align="center">Scheduled Assignments:</h1>
    <a style="margin-left:auto; margin-right:auto;" href = "/Assignments">Back to Assignments</a><p><bold>Click and drag pointer on the links(select them) to edit</bold></p>
            <table>
            <tr>
                <th>Assignment</th>
                <th>Subject</th>
                <th>Additional links(if any)</th>
                <th>Deadline</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
<!--assignments = assignment = [[Assignment name, Subject, Assignment link(if none, put an empty string), Deadline date]]-->
                <form method="POST">
                    <td><input value = {{assignment[0]}} name="assignment_name"></td>
                    <td><input value = {{assignment[1]}} name="assignment_subject"></td>
                    <td>
                        {% if assignment[2] == "" %}
                        <input value="-" name="assignment_link">
                        {% else %}
                        <a href="{{assignment[2]}}"><input value = {{assignment[2]}} name="assignment_link"></a>
                        {% endif %}

                    </td>
                    <td><input type="date" value = {{assignment[3]}} style="color: {{assignment[4]}};" name="assignment_deadline"></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h5>Only teachers can access this page!</h5>
    {% endif %}
</body>
</html>
