{% extends 'auth_layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post">
        <h1>Login</h1>
        <input type="hidden" name="loginForm">
        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
            <input name="username" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
        </div>

        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            <input name="password" type="password" class="form-control" id="autoSizingInputGroup" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100%;">Enter</button>
    </form>
{% endblock %}