{% extends 'auth_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form method="post">
        <h1>Register</h1>

        <input type="hidden" name="registerForm">
        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
            <input name="username" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">            
        </div>

        {% if section %}         
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                <input name="section" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Section">
            </div>
        {% endif %}

        {% if subject %}         
            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                <input name="subject" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Subject">
            </div>
        {% endif %}

        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            <input name="pwd" type="password" class="form-control" id="autoSizingInputGroup" placeholder="Password">
        </div>

        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            <input name="pwd-confirm" type="password" class="form-control" id="autoSizingInputGroup" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-primary" style="width: 100%;">Enter</button>
    </form>
{% endblock %}