<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
    <!--<style>
            body{
                margin-left: 30px;
            }
            table{
                font-size: 23px;
            }
            th, td{
                padding-left: 15px;
                padding-right: 15px;
            }
        </style>-->
</head>
<body>
    <div style="background-color: #0d19a1; ">
        <br /><br /><br />
    </div>
    <h1 align="center">Assignments scheduled by your teacher:</h1>
    <br><br>
        <table>
            <tr>
                <th>Assignment</th>
                <th>Subject</th>
                <th>Additional links(if any)</th>
                <th>Deadline</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
<!--assignments = assignment = [[Assignment name, Subject, Assignment link(if none, put an empty string), Deadline date]]-->
                <td>{{assignment[0]}}</td>
                <td>{{assignment[1]}}</td>
                <td>
                    {% if assignment[2] == "" %}
                    -
                    {% else %}
                    <a href="{{assignment[2]}}", target="_blank">Link</a>
                    {% endif %}

                </td>
                <td class="{{assignment[4]}}">{{assignment[3]}}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>