{%extends "base.html" %}

{% block title %}
    Student | Assignments
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
{% endblock %}

{% block content %}
    <div class="bg-dark text-light" style="padding: 1%; height: 100vh;">
        <h1 align="center">Assignments scheduled by your teacher:</h1>
        <br><br>
        <table class="table table-dark table-striped">
            <tr>
                <th>Assignment</th>
                <th>Subject</th>
                <th>Additional links(if any)</th>
                <th>Deadline</th>
            </tr>
            {% for assignment in assignments %}
            <tr>
<!--assignments = assignment = [[Assignment name, Subject, Assignment link(if none, put an empty string), Deadline date]]-->
                <td>{{assignment[0]}}</td>
                <td>{{assignment[1]}}</td>
                <td>
                    {% if assignment[2] == "" %}
                    -
                    {% else %}
                    <a href="{{assignment[2]}}", target="_blank">Link</a>
                    {% endif %}

                </td>
                <td class="{{assignment[4]}}">{{assignment[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}